<div class="container white-text center" style="margin-top: 5em;">
 <div class="row">
    <div class="col s12 m4">
      <div class="card red darken-4">
        <div class="card-image">
          <img src="http://m.searchpointer.com/a-r-chamber-bricks/images/brick_texture3325.jpg">
          <span class="shippingTracker">Shipping Calculator</span>
        </div>
        <div class="shipping calculator">
          <p>Use me to estimate shipping.</p>
        </div>
        <div class="card-action">
          <button class="btn grey lighten-3 red-text text-darken4"><%= link_to 'Shipments', shipments_path  %></button>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card red darken-4">
        <div class="card-image">
          <img src="http://m.searchpointer.com/a-r-chamber-bricks/images/brick_texture3325.jpg">
          <span class="Inventory">Inventory</span>
        </div>
        <div class="inventory">
          <p>Check your inventory here.</p>
        </div>
        <div class="card-action">
          <button class="btn grey lighten-3 red-text text-darken4"><%= link_to 'Inventories', inventories_path  %></button>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card red darken-4">
        <div class="card-image">
          <img src="http://m.searchpointer.com/a-r-chamber-bricks/images/brick_texture3325.jpg">
          <span class="shippingTracker">Client Tracker</span>
        </div>
        <div class="customer tracker">
          <p>Check all your customer info and orders here.</p>
        </div>
        <div class="card-action">
          <button class="btn grey lighten-3 red-text text-darken4"><%= link_to 'Clients', clients_path  %></button>
        </div>
      </div>
    </div>
 </div>
 <p>
   We are Brick n Morty, we have built some very functional and goodlooking small business tools for your use. Please feel free to contact us
   anywhere at any time a brickNmorty@gmail.com.
 </p>
</div>
