<div class="floating row container center">
  <div class="col s12 m8 offset-m2">
   <div class="card red white-text">
     <div class="card-image">
       <img src="images/sample-1.jpg">
       <span class="card-title grey-text">Trent Snyder</span>
     </div>
     <div class="card-content">
       <p>I am a very simple card. I am good at containing small bits of information.
       I am convenient because I require little markup to use effectively.</p>
     </div>
     <div class="card-action">
       <button class="btn grey lighten-3 red-text text-darken4" href="#">Github</button>
     </div>
   </div>
 </div>

 <div class="col s12 m8 offset-m2">
  <div class="card red white-text">
    <div class="card-image">
      <img src="http://vignette3.wikia.nocookie.net/hanna-barbera/images/2/24/Johnny_Bravo.jpg/revision/latest?cb=20120423033926">
      <span class="card-title grey-text">Gavyn Caldwell</span>
    </div>
    <div class="card-content">
      <p>I am gavyn caldwell, I love rub, and sometimes javascript, also i like to yoyo</p>
    </div>
    <div class="card-action">
      <button class="btn grey lighten-3 red-text text-darken4" href="https://github.com/GavMan1995">Github</button>
    </div>
  </div>
</div>

<div class="col s12 m8 offset-m2">
 <div class="card red white-text">
   <div class="card-image">
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Stick_Figure.svg/2000px-Stick_Figure.svg.png">
     <span class="card-title grey-text">Russell Johnson</span>
   </div>
   <div class="card-content">
     <p>Hi I’m Russell I like coding, I also like camping.</p>
   </div>
   <div class="card-action">
     <button class="btn grey lighten-3 red-text text-darken4" href="https://github.com/russell-johnson">Github</button>
   </div>
 </div>
</div>

<div class="col s12 m8 offset-m2">
 <div class="card red white-text">
   <div class="card-image">
     <img src="images/sample-1.jpg">
     <span class="card-title grey-text">Jordan Ott</span>
   </div>
   <div class="card-content">
     <p>I am a very simple card. I am good at containing small bits of information.
     I am convenient because I require little markup to use effectively.</p>
   </div>
   <div class="card-action">
     <button class="btn grey lighten-3 red-text text-darken4" href="https://github.com/jott7767">Github</button>
   </div>
 </div>
</div>
</di>
