<div class="floating row container">
  <div>
    <img style="width: 200px; height: 200px; border-radius: 50%;" src="http://vignette3.wikia.nocookie.net/hanna-barbera/images/2/24/Johnny_Bravo.jpg/revision/latest?cb=20120423033926">
    <button class="btn grey lighten-3 red-text text-darken4" href="#">Github</button>
  </div>
</div>
